<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log in | Digital Cafe</title>
</head>
<body>
    <main>
        <h1>Digital Cafe</h1>
        <h2>Log in</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </p>
            <p>
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </p>
            <button type="submit">Log in</button>
        </form>
    </main>
</body>
</html>
